@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

 
body {
    width: 80%;
    margin: 0 auto;
}
/* nav */

.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-links{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-left: 20px;
    padding: 20px;
}
.nav-link{
    text-decoration: none;
}
.color-1{
    color: #252432;
    font-weight: 600;
}
.color-2{
    color: #8987A1;
}
.img-1{
    padding: 20px;
}
/* section one */

.first-h1{
    font-size: 65px;
    font-weight: bold;
}
.h1-color{
    color: #E95A08;
}
.first-p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;

}
.first-section{
    display: flex;
    margin-top: 220px;
    margin-bottom: 120px;
}
/* section two */

.my-h2{
    font-weight: bold;
    font-size: 50px;
}
.p-2{
    text-align: center;
}
.div-2{
    align-items: center;
    justify-content: center;
    justify-items: center;
}
/* card section 3 */
.lily{
    font-weight: 500px;
    font-size: 22px;
    color: #111111;
}
.usd{
    font-weight: bold;
    font-size: 22px;
    color: #111111;
}
.btn-primary{
    font-size: 16px;
    font-weight: 600px;
    background-color: #E95A08;
    color: #FFFFFF;
    border: none;
    width: 270px;
    height: 50px;

}
.card-section{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}
.card-1{
    text-align: center;
  padding: 1rem;
  gap: 1rem;
  boxshadow: 0 4px 8px rgba(0,0,0,0.1);
}
/* trusted saection */

.tru-img{
    width: 286px;
    height: 286px;
}
.my-badge{
    display: flex;
     position: relative;
     margin: 230px 0 130px 0;
}

.plant-badge{
    position: absolute;
    top: -25%;
    right: 45%;
    width: 286px;
}
.h-3{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}
.in-list{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}
.right-side{
    padding: 30px;
}
/* latest section */
.h-4{
    font-size: 50px;
    font-weight: bold;
}
.latest{
    text-align: center;
}
.banner-img{
 
}
.bloom-color{
    border-radius: 14px;
    margin-right: 60%;
    filter: brightness(60%);
    background-color: rgba(0, 0, 0, 0.4);
}
.text-60{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;

}
.banner-img{
    position: relative;
    padding: 10px;
}
.banner-text{
    position: absolute;
    top: 20%;
    left: 7%;
    text-align: center;
    padding: 10px;
 
}
.text-25{
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
}
.banner-text-2{
    position: absolute;
    top: 25%;
    left: 15%;
    text-align: center;
    padding: 10px;
}
.banner-img-2{
    position: relative;
    padding: 10px;
    right: -34%;
    margin-top: -39%
}
.pera-3{
    margin: 135px 0 105px 0;
} 
/* last part */
.last-img{
    width: 100%;
    height: 100%;
}
.email{
    width: 730px;
    height: 50px;
    border: none;
}
.last-h{
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
}
/* last part */
.last-part{
    position: relative;
}
.last-text-part{
    position: absolute;
    right: 5%;
    top: 10%;
    text-align: center;
}
.ind-p{
    font-size: 22px;
    font-weight: 400px;
    color: rgba(0, 0, 0, 0.5);
}
.end-div{
    padding: 70px 0 30px 0;
}
.logo-div{
    justify-content: space-between;
    display: grid;
}
.footer{
    display: flex;
    margin: 50px 0 50px 0;
}
@media screen and (max-width: 576px) {
    
    .navbar, .nav-links, .first-section,.img-1 {
        flex-direction: column;
    }
    

        
}